/***************************************************************************************************************

            Project Name           :             Real estate

                            Default Values
            Font                   :             lato,poppins
            Green                  :             #7db73f (Buttons,Icons,Lines)
            grey                   :             #aaa (content)
            Black                  :             #421c1c
************************************************************************************************************/

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/***************************************************************************************************************
                                    general
*************************************************************************************************************/

h5 {
    color: #aaa;

}

.underline2 {
    width: 50px;
    height: 2px;
    background-color: #7db73f;
    margin-bottom: 5%;
}

.heading {
    margin-top: 25%;
    margin-left: 30%;
}

.btn-transparent {
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px #7db73f;
    width: 40%;
    height: 5%;
    padding: 5px 0;
    text-align: center;
}

.btn-transparent:hover {
    background-color: #7db73f;
    color: #fff;
}

.btn-green {
    background-color: #7db73f;
    border-radius: 20px;
    border: solid 2px #7db73f;
    width: 40%;
    height: 5%;
    padding: 5px 0;
    text-align: center;
}

.btn-green:hover {
    background-color: #fff;
    color: #333;
}

.content-box-heading h3 {
    color: #7db73f;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    padding: 70px 0 10px;
    margin: 0;

}

.btn-general {

    background-color: #7db73f;
    border-radius: 20px;
    border: solid 2px #7db73f;
    width: 60%;
    height: 5%;
    padding: 10px;
    text-align: center;
    color: black;

}

a {
    text-decoration: none;
}

/***************************************************************************************************************
                                    navbar
*************************************************************************************************************/

#top-header {
    position: relative;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
*/
    background-color: #1E1F29;
    z-index: 1;
}

.icondiv {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
    box-shadow: 1px 1px 10px #000;
}

.header-links {
    padding-left: 0;
}

.header-links li {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
}

.header-links li:first-child {
    margin-left: 250px;
}

.header-links li:last-child {
    margin-right: 0px;
}

.header-links li a {
    color: #FFF;
}

.header-links li a:hover {
    color: #7db73f;
}

.header-links li i {
    color: #7db73f;

}

.pull-right .btn-general:hover {
    color: #333;
}


/***************************************************************************************************************
                                    Home section
*************************************************************************************************************/

#home {
    height: 100%;
}

.cover {
    position: relative;
    z-index: 1;
}

.left-panel {
    height: 100%;
    padding: 0;
}

.content {
    margin-top: 10%;
    margin-left: 7%;
    padding: 10%;
}

.content i {
    color: #7db73f;
}

.content p {
    padding-bottom: 4%;
}

.content a {
    background-color: transparent;
    color: #333;
}

.room-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    margin-top: 7%;
}

.room-list li {
    display: inline-block;
    padding-top: 6%;
    padding: 5%;
    padding-bottom: 6%;
}

.rooms-info {
    background-color: #7db73f;
}

.room-list li span {
    font-weight: bold;
    text-align: center;
}

.right-panel {
    height: 100%;
    padding: 0;
    position: relative;
}

.image img {
    width: 100%;
    height: 629px;
    position: absolute;
    padding: 0;
}

.rent {
    padding: 0;
    margin: 0;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 490px;
    padding: 5%;
    background-color: #000;
}

/***************************************************************************************************************
                                    Our home
*************************************************************************************************************/

#our-home {
    height: 100%;
}

.info,
.informative,
.more,
.button {
    margin-left: 30%;
}

.informative {
    color: #7db73f;
    font-size: 15px;
    border-left: solid 3px #7db73f;
}

.enquiry {
    margin-top: 25%;
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background: #fff;
    box-shadow: 1px 1px 10px #333;
}

.head {
    background: #7db73f;
    margin-bottom: 20%;
    padding-top: 2%;
    width: 50%;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}

.head h4 {
    padding-bottom: 5%;
    margin-bottom: 35%;
}

.enquiry input,
.enquiry textarea {
    margin-top: 2%;
}

.sent-btn {
    margin-top: 10%;
}

.form-control {
    border-radius: 0;
    padding-bottom: 2%;
}

.property-image {
    padding: 0;
    padding-left: 6%;
}

/***************************************************************************************************************
                                    highlight
*************************************************************************************************************/

.bg-image {
    background-image: url('../images/background.jpg');

    background-repeat: no-repeat;
    background-size: cover;
}

.highlight-inner {
    margin-bottom: 5%;
}

.last-row-btn {
    margin-bottom: 25%;
}

.property .heading {
    margin: 20% 0 0 0;
    color: #fff;
}

.highlight-content {
    color: #aaa;
}

.property-image img {
    margin-top: 35%;
    margin-left: 20%;
    height: 430px;
}

.icon {
    border: solid 1px #fff;
    display: inline-block;
    padding: 2% 3%;
    border-radius: 100%;
    color: #7db73f;
}

.property-content {
    display: inline-block;
    margin-left: 2%;
    color: #fff;
    width: 35%;
}

.highlight-content p {
    padding-bottom: 1%;
    width: 80%;
}

.property-content h4 {
    margin-top: 5%;
}

.property-content a {
    color: #7db73f;
    margin-bottom: 10%;
}

.property-content a:hover {
    color: #fff;
}

.icon:hover {
    background-color: #7db73f;
    color: #333;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.property {
    padding: 0;
}

/****************************************************PROPERTY SECTION*********************************************************************/

#property .content-box-heading h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.content-box-desc {
    text-align: center;
    padding-top: 30px;
    padding-left: 400px;
    width: 70%;
    color: #aaa;
}

.modern-home {
    display: inline-block;
    padding-top: 20px;
    padding-left: 25%;
}

h4.modern-home-name {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.modern-content {
    padding-left: 8%;
}

.modern-residance {
    padding-right: 24%;
}

.modern-home-destination i {
    color: #7db73f;

}

.mordern-home-info {
    padding: 10px 0 30px 0;
    text-align: center;
}

.modern-home .width-height {
    height: 100%;
    width: 250px;
}

/****************************************************OFFER SECTION*********************************************************************/

#offer .content-box {
    background-image: url('../images/building.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.content-box-heading h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.offer-info {
    background-color: #fff;
    padding: 30px 20px 30px 30px;
    width: 300px;

}

.offer-heading h2 {
    color: #7db73f;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.offer-heading h3 {
    font-size: 20px;
    margin: 0;
}

.offer-desc {
    color: #aaa;
    font-size: 12px;
    padding: 20px 0 10px;
    letter-spacing: 0.5;
}

.offer-btn {
    background-color: black;
    border-radius: 20px;
    border: solid 2px black;
    width: 40%;
    height: 5%;
    padding: 5px 0;
    text-align: center;

}

.offer-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;

}

.offer-content {
    padding-bottom: 15%;
}

.offer-info .offer-btn:hover a {
    color: #333;
    font-weight: bold;
}

.offer-info .offer-btn:hover {
    background-color: #fff;
}

/***************************************************************************************************************
                                    amenities
*************************************************************************************************************/

.amenities-container {
    box-shadow: 1px 1px 10px #333;
    margin-top: 50px;
    width: 957px;
}

.amenities-image img {
    height: 470px;
    width: 400px;
}

#amenities .content-box-heading h2 {
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.amenities-image {
    padding: 0;
    width: 400px;
}

.left-list,
.right-list {
    list-style: none;
    padding: 20px;
    font-weight: 700;
    font-size: 15px;
}

.right-list li i,
.left-list li i {
    padding-right: 10px;
    color: #7db73f;
}

.right-list li,
.left-list li {
    padding: 20px;
}

.book-now {
    text-align: center;
}

.book-now a {
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
}

.book-now :hover {
    background-color: #fff;
    border: solid 1px #333;
    color: #333;
}

/***************************************************************************************************************
                                   footer
*************************************************************************************************************/

#footer {
    background: #212121;
    color: #B9BABC;
}

#bottom-footer {
    background: #1E1F29;
}

.footer {
    margin: 30px 0px;
}

.footer .footer-title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Lato, sans-serif;
    margin: 0px 0px 30px;
}

.footer .footer-title p {
    margin-bottom: 2px;
}

.footer-links {
    padding-left: 0;
}

.footer-links2 {
    padding-left: 0;
}

.footer-links li {
    list-style: none;
    margin-top: 15px;
    display: inline-block;

}

.footer-links li a {
    margin-right: 5px;
}

.footer-links li a {
    color: #B9BABC;
}

.footer-links li i {
    margin-right: 15px;
    color: #B9BABC;
    /*  width: 14px;*/
    text-align: center;
}

.footer-links li a i:hover {
    color: #7db71f;
}

.footer-links2 {
    list-style: none;
    margin-top: 15px;
}

.footer-links2 li a {
    margin-right: 5px;
}

.footer-links2 li a {
    color: #B9BABC;
}

.footer-links2 li i {
    margin-right: 15px;
    color: #B9BABC;
    /*  width: 14px;*/
    text-align: center;
}

.footer-links2 li a i:hover {
    color: #7db71f;
}

.footer-links2 li :hover {
    color: #7db71f;
}

.copyright {
    margin-top: 30px;
    display: block;
    font-size: 12px;
    text-align: center;

}

.footer-cover {
    margin-top: 10%;
}

.underline {
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #7db73f;
}

.underline3 {
    width: 30px;
    height: 2px;
    background-color: #7db73f;
}